header img {
  cursor: pointer;
  margin-left: 50%;
  width: 3em;
  height: 3em;
  margin-top: 1.5em;
  position: absolute;
}

.header-nav {
  display: none;
  background-color: var(--color-primary-light);
  padding: 2.25em 0 1em 0;
  text-align: right;
  /* position: fixed; */
  top: 0;
  width: 100%;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

.nav-check:checked ~ .header-nav {
  display: block;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.header-nav li {
  display: inline;
  padding: 0 1.5em;
}

.header-nav li a {
  color: #fff;
  text-decoration: none;
}

nav i {
  margin-bottom: 5px;
  margin-left: 2px;
}

.nav li:hover,
.nav-light li:hover {
  border-bottom: 2px solid #fff;

  transition : border 200ms ease-out;
  -webkit-transition : border 200ms ease-out;
  -moz-transition : border 200ms ease-out;
  -o-transition : border 200ms ease-out;
}

@media screen and (min-width: 60em) {
  .header-nav {
    display: block;
  }

  header label {
    display: none;
  }
}
