.no-under {
  text-decoration: none;
}

.hover-box-img {
  filter: saturate(100%);
  transition: all .25s linear;
}

.hover-box:hover .hover-box-img,
.hover-box:focus .hover-box-img {
  filter: saturate(115%);
  transform: scale(1.1);
}

.hover-box:focus {
  z-index: 10;
}

.hover-box {
  color: var(--color-base-dark);
  font-weight: 400;
}

.hover-box:hover h4,
.hover-box:focus h4 {
  color: var(--color-secondary);
  transition: all .1s linear;
}

.hover-box h3 {
  transform: scale(1.5);
}

.hover-box:hover h3,
.hover-box:focus h3 {
  transform: scale(1.65);
  transition: all .35s linear .125s;
}

.pin-bottom-1-center {
  bottom: 1em;
}
