.no-under {
  text-decoration: none;
}

.hover-box-img {
  filter: saturate(100%);
  transition: all .25s linear;
}

.hover-box:hover .hover-box-img,
.hover-box:focus .hover-box-img {
  filter: saturate(130%);
  transform: scale(1.1);
}

.hover-box:focus {
  z-index: 10;
}

.hover-box {
  color: var(--color-base-dark);
  font-weight: 400;
}

.hover-box:hover h4,
.hover-box:focus h4 {
  color: var(--color-secondary);
  transition: all .1s linear;
}

.hover-box h3 {
  transform: scale(1.5);
}

.hover-box:hover h3,
.hover-box:focus h3 {
  transform: scale(1.65);
  transition: all .35s linear .125s;
}

.pin-bottom-1-center {
  bottom: 1em;
}

.gradient-caption {
  background-image: linear-gradient(to top, rgba(51, 42, 45, .45), rgba(51, 42, 45, 0));
}

.discount {
  color: #acac83;
  font-weight: 400;
  position: relative;
}
.discount::after {
  border-bottom: 0.125em solid #acac83;
  content: "";
  left: 0;
  margin-top: calc(0.125em / 2 * -1);
  position: absolute;
  right: 0;
  top: 50%;
}

@media only screen and (min-width: 25em) {

  .s-max-width {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

}

@media only screen and (min-width: 30em) {

  .s-max-width {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

}

@media only screen and (min-width: 38em) {

  .s-max-width {
    max-width: 100%;
  }

}

.details {
  color: rgba(51, 42, 45, .5);
}

.hide-s-l {
 display: block;
}

.show-s-l {
 display: none;
}

@media only screen and (min-width: 28em) {

  .hide-s-l {
   display: none;
  }

  .show-s-l {
   display: block;
  }

}

.hide-m-l {
  display: block;
}

@media only screen and (min-width: 38em) {

  .hide-m-l {
    display: none;
  }

  .m-no-pad-t {
    padding-top: 0;
  }

}

.carousel-items > div {
  display: none;
}

#category-tea-control:checked ~ .carousel-inner #category-tea,
#tea-side-control:checked ~ .carousel-inner #tea-side,
#tea-cups-control:checked ~ .carousel-inner #tea-cups {
  display: block;
}

#category-tea-control:checked ~ .carousel-inner [for="category-tea-control"],
#tea-side-control:checked ~ .carousel-inner [for="tea-side-control"],
#tea-cups-control:checked ~ .carousel-inner [for="tea-cups-control"] {
  background-color: var(--color-secondary);
}
