.banner-home {
  background: linear-gradient(to bottom, rgba(51, 42, 45, .5), transparent) no-repeat center top / 100% 100%, url("../../images/banner-home.jpg") no-repeat left bottom / cover;
  padding-top: 47%;
  min-height: 500px;
}

.banner-content {
  width: 90%;
}

.banner-tea {
  background: linear-gradient(to bottom, rgba(51, 42, 45, .5), transparent) no-repeat center top / 100% 100%, url("../../images/banner-tea.jpg") no-repeat left bottom / cover;
  padding-top: 47%;
  min-height: 500px;
}
