.breadcrumbs li,
.breadcrumbs li a {
  color: #909090;
}

nav {
  background-color: var(--color-primary-light);
  height: 6em;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.nav li {
  display: inline-block;
  margin-top: 3em;
  cursor: pointer;
  padding: 0 1em;
}

.nav li > i {
  margin-bottom: 5px;
}
