.breadcrumbs li,
.breadcrumbs li a {
  color: #909090;
}

nav {
  background-color: var(--color-primary-light);
  height: 6em;
}

.nav a,
.nav-footer a {
  color: #fff;
  text-decoration: none;
}

.nav li {
  display: inline-block;
  margin-top: 3em;
  cursor: pointer;
  padding: 0 1em;
}

.nav li a > i,
.nav-footer li a > i {
  margin-bottom: 5px;
}

.nav li:hover {
  border-bottom: 2px solid #fff;

  transition : border 200ms ease-out;
  -webkit-transition : border 200ms ease-out;
  -moz-transition : border 200ms ease-out;
  -o-transition : border 200ms ease-out;
}

.nav-footer li:hover {
  background-color: var(--color-primary-dark);

  transition : background-color 200ms ease-out;
  -webkit-transition : background-color 200ms ease-out;
  -moz-transition : background-color 200ms ease-out;
  -o-transition : background-color 200ms ease-out;
}

.nav-footer a {
  display: block;
  padding: .5em 0;
  padding-left: 2em;
}

.nav-footer {
  background-color: var(--color-primary-light);
}

nav ul {
  margin-bottom: 0;
}
