fieldset,
.fieldset {
  border-top: none;
}

input,
select {
  display: block;
  width: 100%;
  background-color: var(--color-primary-light);
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  height: 35px;
}

textarea {
  display: block;
  width: 100%;
  background-color: var(--color-primary-light);
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  height: 6em;
}

input[type="radio"] + label::before,
input[type="checkbox"] + label::before {
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary-light);
}

.hr-form {
  border-top: solid 2px rgba(27, 22, 24, .25);
}

label {
  color: var(--color-primary);
}

legend {
  color: var(--color-base-dark);
  font-weight: 400;
}

input.is-validated:invalid,
.is-validated input:invalid,
.is-validated input[type="checkbox"]:invalid + label::before {
  border: 3px solid var(--color-error);
  background-color: rgba(255, 87, 122, .25);
}

.error-message {
  display: none;
  color: var(--color-error);
}

.error-message-highlighted {
  color: var(--color-error);
}

.is-validated > .error-message:first-child,
.is-validated input:invalid + .error-message,
input.is-validated:invalid + .error-message,
.is-validated input:invalid + label + .error-message {
  display: block;
}
