fieldset,
.fieldset {
  border-top: none;
}

input,
select {
  display: block;
  width: 100%;
  background-color: var(--color-primary-light);
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  height: 35px;
}

textarea {
  display: block;
  width: 100%;
  background-color: var(--color-primary-light);
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  height: 6em;
}

input[type="radio"] + label::before,
input[type="checkbox"] + label::before {
  border: 1px solid var(--color-primary);
  background-color: var(--color-primary-light);
}

.hr-form {
  border-top: solid 2px rgba(27, 22, 24, .25);
}

label {
  color: var(--color-primary);
}

legend {
  color: var(--color-base-dark);
  font-weight: 400;
}

input.is-validated:invalid,
.is-validated input:invalid,
.is-validated input[type="checkbox"]:invalid + label::before {
  border: 3px solid var(--color-error);
  background-color: rgba(255, 87, 122, .25);
}

.error-message {
  display: none;
  color: var(--color-error);
}

.error-message-highlighted {
  color: var(--color-error);
}

.is-validated > .error-message:first-child,
.is-validated input:invalid + .error-message,
input.is-validated:invalid + .error-message,
.is-validated input:invalid + label + .error-message {
  display: block;
}

.input-on-dark {
  display: block;
  width: 100%;
  background-color: #fff;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  height: 40px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: var(--color-primary);
  text-align: center;
}
::-moz-placeholder { /* Firefox 19+ */
  color: var(--color-primary);
  text-align: center;
}
:-ms-input-placeholder { /* IE 10+ */
  color: var(--color-primary);
  text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
  color: var(--color-primary);
  text-align: center;
}

.absolute-search {
  right: .25em;
  top: 50%;
  transform: translateY(-50%);
}

.search-input {
  display: block;
  width: 100%;
  background-color: #fff;
  border: 2px solid rgba(149, 102, 114, .5);
  border-radius: 10px;
  height: 40px;
}

#currency {
  height: 30px;
  width: 90px;
  border-radius: 10px;
  border: 2px solid rgba(149, 102, 114, .5);
  background: url(../../images/arrow-drop.svg) no-repeat 90% center / 18px rgba(133, 135, 64, 0);
  transition: all .2s linear;
}

#currency-nav-l {
  height: 30px;
  width: 90px;
  border-radius: 10px;
  border: 2px solid rgba(149, 102, 114, .5);
  background: url(../../images/arrow-drop.svg) no-repeat 90% center / 18px rgba(133, 135, 64, 0);
  transition: all .2s linear;
}

.span-text-center {
  padding: .5em 0;
}

@media only screen and (min-width: 38em) {

  .span-text-center {
    padding: .3em 0;
  }

}

@media only screen and (min-width: 60em) {

  .span-text-center {
    padding: .2em 0;
  }

}

.max-width-input-quantity {
  width: 55px;
}

input:not([type="radio"]) {
  padding-left: .75rem;
}

.select-style {
  width: 100px;
  border-radius: 5px;
  background: url(../../images/arrow-drop.svg) no-repeat 90% center / 18px var(--color-primary-light);
  transition: all .2s linear;
  border: 1px solid var(--color-primary);
  height: 35px;
  padding-left: .75rem;
}


.select-style-long {
  width: 100%;
  border-radius: 5px;
  background: url(../../images/arrow-drop.svg) no-repeat 95% center / 18px var(--color-primary-light);
  transition: all .2s linear;
  border: 1px solid var(--color-primary);
  height: 35px;
  padding-left: .75rem;
}
