button, input, textarea {
  border: solid 1px #ccc;
  border-radius: 8px;

  font-family: "Cantarell", sans-serif;
}

.selection select {
  background-color: #fff;
  border: solid 1px #ccc;
  border-radius: 8px;

  height: 3em;
  width: 4em;
}

.prov-selection select {
  height: 3em;
  width: 100%;
}

/* CHECKBOXES AND RADIO BUTTONS */

/* checkbox before onclick */
input[type="checkbox"] {
  background-color: #fff;
  border-radius: 8px;

  margin: 0;
  height: 2em;
  width: 2em;

  cursor: pointer;
  position: relative;

  -webkit-appearance: none;
  -webkit-transition: .15s;
}

/* radio before onclick */
input[type="radio"] {
  background-color: #fff;
  border-radius: 2em;

  margin: 0;
  height: 2em;
  width: 2em;

  cursor: pointer;
  position: relative;

  -webkit-appearance: none;
  -webkit-transition: .15s;
}

input[type="checkbox"]:checked:before,
input[type="radio"]:checked:before {
  content: '✔';
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background-color: var(--color-primary-light);
  border-color: var(--color-primary-light);
}

/* affects the icon on click */

.error-message {
  display: none;
  background-color: #fee;
  color: #c33;
}

input[type="checkbox"]:before, input[type="checkbox"]:checked:before,
input[type="radio"]:before, input[type="radio"]:checked:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 2em;
  text-align: center;
  color: #fff;
}

.icon-label {
  color: var(--color-accent);
}

.error-label {
  color: var(--color-accent);
}

.is-validated input:invalid,
.is-validated input[type="checkbox"]:invalid + label::before {
  border-color: var(--color-accent);
}
