:root {
  --color-primary: #858740;
  --color-primary-light: #f0f0e9;
  --color-secondary: #956672;
  --color-base-dark: #332a2d;
  --color-base-light: #efeeef;
  --color-base-dark-intense: #391414;
  --color-detail: #6cc9a1;
  --color-accent: #3bcfd3;
  --color-error: #e1577a;
  --font-primary: quicksand, sans-serif;
  --font-secondary: "hind vadodara", sans-serif;
}

html {
  font-family: var(--font-secondary);
}

h2 {
  font-family: var(--font-secondary);
  color: var(--color-base-dark);
  font-style: normal;
  font-weight: 600;
}

h1 {
  font-family: var(--font-primary);
  color: var(--color-primary);
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
}

.h1-thinner-style {
  font-family: var(--font-primary);
  color: var(--color-primary);
  font-style: normal;
  font-weight: normal;
  text-align: center;
}

h3 {
  font-family: var(--font-secondary);
  color: var(--color-base-dark);
  font-style: normal;
  font-weight: normal;
}

h4 {
  font-family: var(--font-secondary);
  color: var(--color-base-dark);
  font-style: normal;
  font-weight: 600;
}

h5 {
  font-family: var(--font-secondary);
  color: var(--color-primary);
  font-style: normal;
  font-weight: 500;
}

h6 {
  font-family: var(--font-secondary);
  color: var(--color-base-dark);
  font-style: normal;
  font-weight: normal;
}

a {
  font-family: var(--font-secondary);
  color: var(--color-secondary);
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
}

strong,
b {
  font-family: var(--font-secondary);
  color: var(--color-base-dark);
  font-style: normal;
  font-weight: 600;
}

blockquote,
q {
  font-family: var(--font-primary);
  color: var(--color-secondary);
  font-style: normal;
  font-weight: normal;
}

cite {
  font-family: var(--font-primary);
  color: var(--color-secondary);
  font-style: italic;
  font-weight: normal;
}

ul,
ol,
dl {
  font-family: var(--font-secondary);
  color: var(--color-base-dark);
  font-style: normal;
  font-weight: normal;
}

em,
dfn,
i {
  font-family: var(--font-secondary);
  color: var(--color-base-dark);
  font-style: italic;
  font-weight: normal;
}

mark {
  font-family: var(--font-secondary);
  color: var(--color-base-dark);
  font-style: normal;
  font-weight: normal;
  background-color: var(--color-detail);
}

abbr {
  font-family: var(--font-secondary);
  color: var(--color-base-dark);
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
}

del,
s {
  font-family: var(--font-primary);
  color: var(--color-secondary);
  font-style: normal;
  font-weight: normal;
  text-decoration: line-through;
}

u,
ins {
  font-family: var(--font-secondary);
  color: var(--color-base-dark);
  font-style: normal;
  font-weight: normal;
  text-decoration: underline;
}

.white {
  color: #fff;
}

.dusty-pink {
  color: var(--color-secondary);
}

.green {
  color: var(--color-primary);
}

.bright-pink {
  color: var(--color-error);
}

.font-prime {
  font-family: var(--font-primary);
}

.font-second {
  font-family: var(--font-secondary);
}

.base-dark {
  color: var(--color-base-dark);
}

.lighter-green {
  color: rgba(133, 135, 64, .65);
}

.normal-case {
  text-transform: none;
}

.pointer {
  cursor: pointer;
}

.link-under:hover {
  color: var(--color-base-dark);
  text-decoration: underline;
}

.txt-center-s-right {
  text-align: center;
}

.txt-center-s-left {
  text-align: center;
}

.txt-center-m-right {
  text-align: center;
}

.txt-center-m-left {
  text-align: center;
}

.txt-left-m-right-l-left {
  text-align: left;
}

@media only screen and (min-width: 25em) {

  .txt-center-s-right {
    text-align: right;
  }

  .txt-center-s-left {
    text-align: left;
  }

}

@media only screen and (min-width: 38em) {

  .txt-center-m-right {
    text-align: right;
  }

  .txt-center-m-left {
    text-align: left;
  }

  .txt-left-m-right-l-left {
    text-align: right;
  }

}

@media only screen and (min-width: 60em) {

  .txt-left-m-right-l-left {
    text-align: left;
  }

}

.no-underline {
  text-decoration: none;
}
