.subscribe-box {
  background-color: var(--color-base-dark);
  color: var(--color-primary);
  font-family: var(--font-secondary);
  font-weight: 400;
}

.max-input-length {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;

}

.section-separator {
  height: 95px;
  width: 100%;
  position: absolute;
  top: 9em;
}

.bg-green {
  background-color: var(--color-primary);
}

.bg-dusty-pink {
  background-color: var(--color-secondary);
}

.rating-list {
  text-decoration: none;
  list-style-type: none;
}

.border-cart-sections {
  border-bottom: solid rgba(133, 135, 64, .35) 2px;
}

.hidden-xs-s {
  display: none;
}

@media only screen and (min-width: 38em) {

  .hidden-xs-s {
    display: block;
  }

}
