.section-text a {
  margin-right: 1em;
  text-decoration: none;
}

.reviews {
  background-color: var(--color-primary-light);
  color: #fff;
  padding-top: 2em;
  height: 10em;
}

.reviews-name h3 {
  font-family: var(--font-secondary);
}

.reviews p {
  padding-left: 2em;
}
